{{>partials/header}}

<section class="banner" style="background-image: url('images/allanimals.jpg')">Todos os animais</section>
<h2>Todos os animais disponíveis para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="images/labrador.jpg" class="item--image" />
        <div class="item--name">Labrador-retriever</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
</div>

{{>partials/footer}}